/* eXeLearning Style Designer Compatible Style */

/* vietnamese */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 300;
  src: local('EncodeSans Light'), local('EncodeSans-Light'), url(EncodeSans-Light_vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 300;
  src: local('Atkinson Hyperlegible'), local('EncodeSans-Light'), url(Atkinson-Hyperlegible-Regular-102a.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 300;
  src: local('Atkinson Hyperlegible'), local('Atkinson-Hyperlegible-Regular-102a'), url(Atkinson-Hyperlegible-Regular-102a.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html{font-size:105%}
body{font:105%/1.5 "Atkinson Hyperlegible",Arial,Helvetica,sans-serif;padding:15px;margin:0;text-align:left}

h2{font-size:1.3em}
h3{font-size:1.2em}
h4{font-size:1.1em}
h5{font-size:1em}
p{margin:1em 0}
.score.js-feedback{margin-bottom:1em}


#header,#emptyHeader,#nodeDecoration{
    padding:0 20px;
    height:auto!important;
    height:120px;
    min-height:120px;
    font-size:1.6em;
    font-weight:300;
    border-style:1px;
    border-width:1px;
    text-align:left
}

#headerContent{
    padding-top:70px;
    display: none;
}

#header h1,#nodeDecoration h1{margin:-.5em 0 1em 0;font-size:1em;text-align:left}

#nodeDecoration{margin-bottom:15px}
/* Single page */.nodeDecoration h1{font-size:1.5em}
/* iDevices */.iDevice{margin:20px 0}
.iDevice_header{letter-spacing:.5px;padding:.5em 40px .5em 0;height:auto!important;height:1.7em;min-height:1.7em;position:relative}
.iDevice_header[style]{background-image:none!important}
.iDeviceTitle{font-size:1.3em;vertical-align:bottom;top:auto;display:inline-block;font-weight:300;padding:5px 10px 5px 43px;background-repeat:no-repeat;background-position:0 50%;margin:0}
.iDevice_header_noIcon .iDeviceTitle{background-image:none;padding-left:20px}
.iDeviceTitle{*display:inline;*line-height:2em}
/* IE6, IE7 */.iDevice_inner{padding:10px 20px;border-width:0px;border-style:solid}
/* Clearfix */.iDevice_content{overflow:auto}
.FileAttachIdeviceInc .iDevice_content{margin-bottom:-.5em}
/* Hide/Show iDevice */.toggle-idevice{display:block;margin:0;text-align:right;height:16px}
.toggle-idevice a{display:block;width:16px;height:16px;background:url(_style_icons.png) no-repeat -50px -50px;outline:none;position:absolute;top:0;right:0;z-index:100;border-bottom-left-radius:1px}
.toggle-idevice .show-idevice{background-position:0 -50px}
.toggle-idevice span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
.toggle-idevice a:hover,.toggle-idevice a:focus{filter:alpha(opacity=100);opacity:1}
/* em */.iDevice_header .toggle-idevice{position:absolute;top:14px;right:14px}
/* No em */.toggle-em0{position:relative;top:0;right:15px;margin-bottom:-21px}
.toggle-em0 + .iDevice .iDevice_content p:first-child{padding-right:50px}
 /* To review */.hidden-idevice .toggle-em0{margin-bottom:0}
/* iDevice title with background-color */input.feedbackbutton{margin:0}
.iDevice.emphasis1{box-shadow:rgba(0, 0, 0, 0.25) 3px 3px 4px}
.iDevice_header{border-width:1px;border-style:solid;padding-left:13px}
.iDevice_inner{border-top:0}
.ExternalUrlIdevice iframe{border:0}
/* Reset base.css */.block,.feedback{padding:0}
.feedback{font-family:inherit;font-size:1em}
li{list-style-position:outside}
.styled-qc{margin-top:2.5em}
.exe-dl .icon,.exe-dl-toggler a{width:24px;height:24px;border-radius:12px}
.exe-dl-toggler a{line-height:22px}
.js .exe-dl dd{margin-left:44px}
.exe-enlarge-icon b{font-size:1.2em}
.pre-code{border-radius:0}
/* Forms */input,select{font-size:1em;font-family:inherit}
.iDevice_hint_title a{padding-left:25px}
.iDevice_buttons input{font-size:1em;margin-right:.5em;padding:.15em .45em}
.MultichoiceIdevice .feedback p:first-child{margin-top:0}
.MultichoiceIdevice .activity-form,.MultiSelectIdevice .activity-form{margin-bottom:1em}
.TrueFalseIdevice .activity-form{margin-top:1.5em}
.TrueFalseIdevice .activity-form:first-child{margin-top:0}
.TrueFalseIdevice label{margin:0 1em}
.MultichoiceIdevice input[type=radio],.MultiSelectIdevice input[type=checkbox],.QuizTestIdevice input[type=radio]{width:16px;height:16px;margin:5px 0 0 12px}
.custom-inputs .iDevice_answer-field{width:40px}
.custom-inputs  .iDevice_answer-content,.custom-inputs  .iDevice_answer-feedback{padding-left:55px}
.custom-inputs  .iDevice_answer-content{padding-top:4px}
.styledRadio,.styledCheckbox{margin-left:12px}
.MultichoiceIdevice .feedback{margin-top:1em}
.right-option,.wrong-option{font-style:italic}
.readingIdevice .iDevice_content:first-child p:last-child,.CasestudyIdevice .iDevice_content:first-child p:last-child{margin-bottom:0}
.readingIdevice .feedbackbutton,.CasestudyIdevice .feedbackbutton,.ReflectionIdevice .feedbackbutton{margin:.5em 0 1em 0}
.TrueFalseIdevice .exe-radio-option.styledRadio{display:inline-block;vertical-align:middle;margin:-2px 5px 0 0}
/* Licenses */#packageLicense{margin:2.5em 0 1.5em 0;text-align:left;line-height:1.2em;font-size:.9em}
#packageLicense.cc{padding-left:95px;background:url(_style_licenses.png) no-repeat 0 0}
#packageLicense.cc-by-sa{background-position:0 -100px}
#packageLicense.cc-by-nd{background-position:0 -200px}
#packageLicense.cc-by-nc{background-position:0 -300px}
#packageLicense.cc-by-nc-sa{background-position:0 -400px}
#packageLicense.cc-by-nc-nd{background-position:0 -500px}
#packageLicense.cc-0{background-position:0 -600px}
#siteFooter{padding:20px}
/* Download package iDevice */.download-packageIdevice .exe-download-package-link a{background:#333}
/* Lightbox */.lightboxOverlay{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);opacity:0.95}
#lightbox .lb-caption{font-size:1em}
/* Figcaption */
figcaption {text-align:center;font-weight:400;margin-top:-0.2em;font-size:0.80em;}
figcaption em{font-style:normal}
.figcaption {text-align:center;font-weight:400;margin-top:-0.2em;font-size:0.80em;}
.figcaption em{font-style:normal}


/* iDevices with emphasis */
.emphasis1 .exe-fx .fx-C1,
.emphasis1 .exe-fx .fx-C1 a,
.emphasis1 .exe-fx .fx-C1 h2{
    background:#eef1f1;
    color:#000;
}

/* Effects - iDevices with emphasis */
.emphasis1 .exe-fx .fx-C2,
.emphasis1 .exe-fx .fx-C2 a,
.emphasis1 .fx-pagination a{
    background:#eef1f1;
}

/*-------------------Estilo de impresion margenes verticales----------*/
@media print {
    /*---- Comentar para que no haga break después de div.node --*/
    div.node,article.node{page-break-after:always}
    /*div.node{page-break-after:auto} /* base.css */
    .iDevice{margin-bottom:20px}
	html body{background:#fff;color:#000;font-size:11pt}

    /* logo CEFIRE */
    body::before{content:url("logocefire.png");}

    /*@page{margin:1.5cm}*/

	/* Uncomment this to print URL after links:
	a[href^=http]{font-weight:bold;text-decoration:none!important}
	a[href^=http]:after{content:" <" attr(href) "> "}
    */

	#main .iDeviceTitle{background:none;padding-left:0}
	.iDevice.emphasis1{box-shadow:none}

	body #header,body #emptyHeader,body #nodeDecoration{height:auto!important;min-height:0;border:none;padding:0}

    /*-------------Mostrar para imprimir o NO esconder linea, ver linea 327-------*/
    body #headerContent{
        display: block;
        height:10px;
        width:950px;
        padding:30px;
        position:fixed;
        bottom:465px;
        left:-475px;
        transform:rotate(-90deg);
    }

    #headerContent::after{position:relative;float:right;bottom:20px;}

	body #headerContent h1{font-size:14pt;font-weight:400;}

    #packageLicense.cc{padding-left:0;text-align:center}
	.toggle-idevice{display:none}

	/*--------------No repetir iconos de los Titulos------------------*/  
    .iDeviceTitle[style]{background-repeat:no-repeat!important;padding-left:40px !important;}

	/*--------------Titulos-------------------------------------------*/
    #header h1,#nodeDecoration h1{margin:-.5em 0 1em 0;text-align: left;
        font-size: 12px;
        margin-top:0px;
        /*color: #2E537A;*/
        font-family: 'Atkinson Hyperlegible';
        font-weight:600;
        /*text-transform: uppercase;*/
        margin-bottom: 15px;
       /* border-bottom:3px solid #94b9ff*/}

    .nodeDecoration h1{ font-size: 23px;
        margin-top: 0px;
        /*color: #2E537A;*/
        font-family: 'Atkinson Hyperlegible';
        font-weight:600;
        padding-top:40px}



    /*---------------Margenes de impreson-----------------------------*/
    @page {
        size: A4;
        margin:2cm 0cm 2cm 0cm;
    }
    body{
        margin: 0cm 2cm 0cm 2cm;
    }

    /*---------------Footer--------------------------------------------*/
    #siteFooter{
        /* display: block !important; */
        display: block;
        content: "Esto es siteFooter ";
        border:none !important;
        height:30px;
        width:950px;
        margin:0px;
        padding:10px;
        position:fixed;
        right:-450px;
        bottom:465px;
        font-size:10pt;
        font-weight:200;
        /*color: #00833E;*/
        transform:rotate(-90deg);
    }
    #siteFooter::before{content:url("cefire_icon.png");position:relative;top:5px;padding-right:10px;}
/*  #siteFooter::after{content:url("figuras_small.png");position:relative;float:right;bottom:20px;} */

    /*---------------Licencia-------------------------------------------*/
    #packageLicense{margin:2.5em 0 1.5em 0;text-align:left;line-height:1.2em;font-size:.9em}
    #packageLicense.cc{background:url(_style_licenses.png) no-repeat 0 0;padding-left:100px;}
    #packageLicense.cc-by-sa{background-position:0 -100px}
    #packageLicense.cc-by-nd{background-position:0 -200px}
    #packageLicense.cc-by-nc{background-position:0 -300px}
    #packageLicense.cc-by-nc-sa{background-position:0 -400px}
    #packageLicense.cc-by-nc-nd{background-position:0 -500px}
    #packageLicense.cc-0{background-position:0 -600px}

    /*---------------Control saltos de pagina---------------------------*/
    /*Para que no haga ningún break dentro del contenido de la página*/
    article, .nodeTitle/*.level-2-node,.level-3-node,*/{
        page-break-before:avoid !important;
    /*  page-break-after:avoid !important; */
    }

    /*---------------Quitar comentario para no partir tablas y listas---*/
    /*table,ul,ol{
        page-break-inside:avoid;
    }*/

    /*---------------Control de lineas viudas y huerfas-----------------*/
    p,{
    	widows:4;
    	orphans:3;
    }

}


/* eXeLearning Style Designer */
.iDevice_header{
border-color:#ffffff;
}
.iDevice_inner{
/*emBGColor*/
    background-color:#ffffff;border-color:/*emBorderColor*/;
}
.iDeviceTitle{
    background-image:url(icon_star.png);
}
.activityIdevice .iDeviceTitle{
    background-image:url(icon_assignment.png);
}
.readingIdevice .iDeviceTitle{
    background-image:url(icon_unread.png);
}
.FileAttachIdeviceInc .iDeviceTitle{
    background-image:url(icon_download.png);
}
.WikipediaIdevice .iDeviceTitle{
    background-image:url(icon_description.png);
}
.ListaIdevice .iDeviceTitle,.QuizTestIdevice .iDeviceTitle,.MultichoiceIdevice .iDeviceTitle,.TrueFalseIdevice .iDeviceTitle,.MultiSelectIdevice .iDeviceTitle,.ClozeIdevice .iDeviceTitle{
    background-image:url(icon_question.png);
}
.preknowledgeIdevice .iDeviceTitle{
    background-image:url(icon_announcement.png);
}
.GalleryIdevice .iDeviceTitle{
    background-image:url(icon_media.png);
}
.objectivesIdevice .iDeviceTitle{
    background-image:url(icon_info.png);
}
.ReflectionIdevice .iDeviceTitle{
    background-image:url(icon_account.png);
}
.iDevice.emphasis0{
    noEmColor
    /*color:#000000;*/
}


body{
    /*contentBGColor*/
    background-color:#ffffff;
}

#header,#emptyHeader,#nodeDecoration{
    height:auto!important;
    /*headerHeight*/
    height:120px;min-height:120px;
    /*headerBGURL*/
    background-image:url(capc_alera%20CEFIRE.png);
    /*headerBGRepeat*/
    background-repeat:no-repeat;
    /*headerBGPosition*/
    background-position:0 0;
}

/*--------------NO Esconder headerContent para imprimir, ver linea 163------*/
/*#headerContent{
    /*hideProjectTitle*/
    /*position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);
} */

#siteFooter{
border:1px solid #dddddd;
/*footerBGColor*/
background-color:#ffffff;
}

table{
border-style: solid;
border-width: 1px;
border-collapse: collapse;
}

th{
border-spacing: 0px;
border-width: 1px;
padding:10px;
}

td{
border-spacing: 0px;
border-width: 1px;
padding:10px;
}


